---
const communities = [
    {
        id: "https://pbs.twimg.com/community_banner_img/1875455576622428163/RwC-2U6W?format=jpg&name=240x240",
        name: "Autists",
    },
    {
        id: "https://pbs.twimg.com/community_banner_img/1882641639585595392/eCFVo6U_?format=jpg&name=240x240",
        name: "Pepe's Farm",
    },
    {
        id: "https://pbs.twimg.com/community_banner_img/1883541129397706752/g2yEFeRd?format=jpg&name=240x240",
        name: "Just Do Things",
    },
    {
        id: "https://pbs.twimg.com/community_banner_img/1875485344373645313/eKbZeuyy?format=jpg&name=240x240",
        name: "Sensitive Young Men",
    },
    {
        id: "https://pbs.twimg.com/community_banner_img/1875290326975578112/D03W1FK2?format=jpg&name=240x240",
        name: "Gooners United",
    },
];
---

<li>
    <div class="text-xs/6 font-semibold text-gray-400">Group Chats</div>
    <ul role="list" class="-mx-2 mt-2 space-y-1">
        {
            communities.map((community) => {
                const { id, name } = community;
                return (
                    <li>
                        <a
                            href="#"
                            class="group flex gap-x-3 rounded-md p-2 text-sm/6 font-semibold text-gray-400 hover:bg-gray-800 hover:text-white items-center"
                        >
                            <svg
                                class="size-6 shrink-0"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                aria-hidden="true"
                                data-slot="icon"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z"
                                />
                            </svg>
                            <span class="truncate">{name}</span>
                        </a>
                    </li>
                );
            })
        }
    </ul>
</li>
