---
const lists = [
    {
        name: "Impressions",
    },
    {
        name: "Reply Guy",
    },
    {
        name: "Besties",
    },
    {
        name: "Dad's of X",
    },
];
---

<li>
    <div class="text-xs/6 font-semibold text-gray-400">Your Lists</div>
    <ul role="list" class="-mx-2 mt-2 space-y-1">
        {
            lists.map((list) => {
                const { name } = list;
                return (
                    <li>
                        <a
                            href="#"
                            class="group flex gap-x-3 rounded-md p-2 text-sm/6 font-semibold text-gray-400 hover:bg-gray-800 hover:text-white items-center"
                        >
                            <span class="flex size-6 shrink-0 items-center justify-center rounded-lg border border-gray-700 bg-gray-800 text-[0.625rem] font-medium text-gray-400 group-hover:text-white">
                                {name.substring(0, 1)}
                            </span>
                            <span class="truncate">{name}</span>
                        </a>
                    </li>
                );
            })
        }
    </ul>
</li>
